extends tpl

block content
    .jumbotron.tall.jumbotron-headline
      .container.jumbotron-text
        h1 You&apos;re a long way from home, partner&period;
        br
        h1 Page not found&period;