row.info-row
 .col-md-6
   h2 The Contenders
   #current_contenders.table-responsive
     table.table.table-striped
       thead
         tr
           th User
           th Contribution
           th Chance of Winning
           th 
           th Percent of pot
       tbody
 .col-md-6
   h2 Past Winners
   #past_winners.table-responsive
     table.table.table-striped
       thead
         tr
           th User
           th Contribution
           th Prize
       tbody
