row.info-row
 .col-md-6
   h2 The Contenders
   #current_contenders.table-responsive
     table.table.table-striped
       thead
         tr
           th User
           th Contribution
           th Chance of Winning
           th
           th Percent of pot
       tbody
 .col-md-6
   h2 Past Jackpots
   #past_winners.table-responsive
     table.table.table-striped
       thead
         tr
           th(colspan=1)
           th(colspan=2)#winner Winner
           th(colspan=3)#disbursements Disbursements
         tr
           th Size
           th Name
           th Contribution
           th Prize
           th Next Jackpot
           th House
       tbody
