row.info-row
 .col-md-4
   h2 Current Contributors
   #current_top_contributors.table-responsive
     table.table.table-striped
       thead
         tr
           th Rank
           th User
           th Contribution
       tbody
   // End table-responsive
 .col-md-4
   h2 Current Bets
   #current_bets.table-responsive
     table.table.table-striped
       thead
         tr
           th ID
           th User
           th Timestamp
           th Amount
       tbody
   // End table-responsive
 .col-md-4
   h2 Past Winners
   #past_winners.table-responsive
     table.table.table-striped
       thead
         tr
           th User
           th Contribution
           th Payout
       tbody
   // End table-responsive
