
<!-- http://www.bootply.com/petrb/104740-->
<div id="chat">
  <div class="panel panel-primary">
    <div class="panel-heading"><span class="glyphicon glyphicon-comment"></span>  Chat
      <div class="btn-group pull-right">
        <button id="chat_close" type="button" class="close pull-right">&times;</button>
      </div>
      <!--   button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')-->
      <!--     span.glyphicon.glyphicon-chevron-down-->
      <!--   ul.dropdown-menu.slidedown-->
      <!--     li-->
      <!--       a(href='http://www.jquery2dotnet.com')-->
      <!--         span.glyphicon.glyphicon-refresh-->
      <!--         | Refresh-->
      <!--     li-->
      <!--       a(href='http://www.jquery2dotnet.com')-->
      <!--         span.glyphicon.glyphicon-ok-sign-->
      <!--         | Available-->
      <!--     li-->
      <!--       a(href='http://www.jquery2dotnet.com')-->
      <!--         span.glyphicon.glyphicon-remove-->
      <!--         | Busy-->
      <!--     li-->
      <!--       a(href='http://www.jquery2dotnet.com')-->
      <!--         span.glyphicon.glyphicon-time-->
      <!--         | Away-->
      <!--     li.divider-->
      <!--     li-->
      <!--       a(href='http://www.jquery2dotnet.com')-->
      <!--         span.glyphicon.glyphicon-off-->
      <!--         | Sign Out-->
    </div>
    <div class="panel-body">
      <ul id="chat_body" class="chat">
        <!-- li.left.clearfix-->
        <!--   .chat-body.clearfix-->
        <!--     .header-->
        <!--       strong.primary-font Jack Sparrow-->
        <!--     p-->
        <!--       | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Curabitur bibendum ornare-->
        <!--       | dolor&comma; quis ullamcorper ligula sodales&period;-->
      </ul>
    </div>
    <!--     li.right.clearfix-->
    <!--       span.chat-img.pull-right-->
    <!--         img.img-circle(src='http://placehold.it/50/FA6F57/fff&text=ME', alt='User Avatar')-->
    <!--       .chat-body.clearfix-->
    <!--         .header-->
    <!--           small.text-muted-->
    <!--             span.glyphicon.glyphicon-time-->
    <!--             | 13 mins ago-->
    <!--           strong.pull-right.primary-font Bhaumik Patel-->
    <!--         p-->
    <!--           | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Curabitur bibendum ornare-->
    <!--           | dolor&comma; quis ullamcorper ligula sodales&period;-->
    <!--     li.left.clearfix-->
    <!--       span.chat-img.pull-left-->
    <!--         img.img-circle(src='http://placehold.it/50/55C1E7/fff&text=U', alt='User Avatar')-->
    <!--       .chat-body.clearfix-->
    <!--         .header-->
    <!--           strong.primary-font Jack Sparrow-->
    <!--           small.pull-right.text-muted-->
    <!--             span.glyphicon.glyphicon-time-->
    <!--             | 14 mins ago-->
    <!--         p-->
    <!--           | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Curabitur bibendum ornare-->
    <!--           | dolor&comma; quis ullamcorper ligula sodales&period;-->
    <!--     li.right.clearfix-->
    <!--       span.chat-img.pull-right-->
    <!--         img.img-circle(src='http://placehold.it/50/FA6F57/fff&text=ME', alt='User Avatar')-->
    <!--       .chat-body.clearfix-->
    <!--         .header-->
    <!--           small.text-muted-->
    <!--             span.glyphicon.glyphicon-time-->
    <!--             | 15 mins ago-->
    <!--           strong.pull-right.primary-font Bhaumik Patel-->
    <!--         p-->
    <!--           | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Curabitur bibendum ornare-->
    <!--           | dolor&comma; quis ullamcorper ligula sodales&period;-->
    <div class="panel-footer">
      <div class="input-group">
        <input id="btn-input" type="text" placeholder="Type your message here..." class="form-control input-sm"/><span class="input-group-btn">
          <button id="btn-chat" class="btn btn-warning btn-sm">Send</button></span>
      </div>
    </div>
  </div>
</div>