// http://www.bootply.com/petrb/104740
#chat
  .panel.panel-primary
    .panel-heading
      span.glyphicon.glyphicon-comment
      |   Chat
      .btn-group.pull-right
         button#chat_close.close.pull-right(type='button') &times;
    .panel-body
      ul.chat#chat_body
    .panel-footer
      .input-group
        input#btn-input.form-control.input-sm(type='text', placeholder='Type your message here...')
        span.input-group-btn
          button#btn-chat.btn.btn-warning.btn-sm
            | Send
