p.center
  a.btn.btn-primary.btn-cta(role='button', href='/learn', style="margin-right:10px;")
    span.highlight Learn More
  a.btn.btn-primary.btn-cta(role='button', href='/play')
    span.highlight Play Now
