extends tpl

block head
  style.
    .jumbotron-text {
      margin-top: 50px;
    }
    .jumbotron-text h1, .jumbotron-text h2 {
      color: white;
      margin-bottom: 30px !important;
    }
    .btn-cta {
      margin-top: 55px !important;
    }
block content
    .jumbotron.jumbotron-headline.bg-color-usd
      .container.jumbotron-text
        h1 BitSplit
        h2.tagline A lottery that statistically favors higher contributions.
        br
        br
        br
        h1.left Prize:&nbsp;&nbsp;
          span#prize-amount.font-color-bitcoin.glow
        h1.left Next Winner:&nbsp;&nbsp;
          span.font-color-bitcoin.glow
             span.split-countdown-timer ...
        include ctas
    .container
      include bet_tables
      hr
      footer

block scripts
  include script_bet_tables