extends tpl

block content
    .jumbotron.jumbotron-headline.bg-color-usd
      .container.jumbotron-text
        table#big-info-table
          tr
            td
              h1 Jackpot size:
            td
              h1
                span#jackpot-amount.font-color-bitcoin.glow
          tr
            td
              h1 Average split time:
            td
              h1
                span.highlight
                  span.split-time-minutes ...
                  |  minutes
          tr
            td
              h1 Top contributor gets:
            td
              h1
                span.font-color-bitcoin.glow half
        include ctas
    .container
      include bet_tables
      hr
      footer

block scripts
  include script_bet_tables