extends tpl

block content
    .jumbotron.jumbotron-headline.bg-color-usd
      .container.jumbotron-text
        h1
          | The&nbsp;
          span#jackpot-amount.font-color-bitcoin
          |  jackpot&apos;s average split time is 
          span.highlight
            span.split-time-minutes &period;&period;&period;
            |  minutes
          | &period;&period;&period;
        h1
          | When it splits&comma; the
          span.highlight  top contributor
          |  gets
          span.font-color-bitcoin  half
          | &period;&period;&period;
        include ctas
    .container
      include bet_tables
      hr
      footer

block scripts
  include script_bet_tables