doctype html
html
  head
    title BitSplit&period;it
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/javascript', src='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(type='text/javascript', src='jquery.fittext.js')
    script(type='text/javascript', src='alertify.js')
    script(src='d3.v3.min.js')
    script // More secure than sending via sockets
      | var password = "!{password}";

    link(rel='stylesheet', href='main.css')
    link(rel='stylesheet', href='animate.css')
    //link(rel='stylesheet', href='royalslider.css')
    link(rel='stylesheet', href='skins/minimal-white/rs-minimal-white.css')
    link(rel='stylesheet', href='alertify.core.css')
    link(rel='stylesheet', href='alertify.bootstrap.css')
    link(rel='stylesheet', href='jquery.nouislider.css')
    link(rel='stylesheet', href='chart.custom.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
  body
    // Background
    #bg
      .overlay-solid
    // Navigation Bar
    #bitsplitnav.navbar.transparent.navbar-fixed-top.navbar-inverse
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#')
          img(src='https://www.filepicker.io/api/file/DTOJ2HhRjWe2nNPEVA3P')#logo
      .navbar-collapse.collapse#bitsplitnav-buttons
        ul.nav.navbar-nav.navbar-right
          //- li
          //-  div(style="")
          //-   a.btn.btn-currency.fake.active(onclick="change_currency_type('fake')") SANDBOX
          //-   a.btn.btn-currency.btc(onclick="change_currency_type('btc')") BITCOINS
          li
            a(href='#').referral_popup Referral Program
          li
            a(href='#howitworks', data-toggle='modal', data-target='#howitworks') How It Works
          li
            a(href='#contact', data-toggle='modal', data-target='#contact') Contact
          li.active
            // a#signinbtn(href='#signin', data-toggle='modal', data-target='#signin') Sign In
            a#signinbtn(href='#signin', onclick="temp.login();") Sign In
    
    include sidebar

    block content
    div.overlay-solid
    // Main Screen Slider
    section#gameslider
      #bitsplitgames
        // Slide 1
        .row-fluid
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.nosidemargin.rsNoDrag.hidden-xs
            .yourstats
              .row.summary
                h1.summarybig.lightyellow.text-right.my_contribution.my_contribution
                h4.summarysmall.golden.text-right CONTRIBUTION
                
              // .row.summary
              //   h4.summarysmall.golden.text-right TAKE HOME AMOUNT
              //   h1.summarybig.lightyellow.text-right 0&period;00012500?
              .row.summary
                // TODO: Force this to be a float
                h1.summarybig.lightyellow.text-right.my_win_chance.my_win_chance
                h4.summarysmall.golden.text-right YOUR CHANCE
              
             // .row.netposition.loss
             //   h4.summarysmall.golden POTENTIAL NET
             //   h1.summarybig.lightyellow.text-right 34&period;0000
             
              
             // .row.netposition.loss
             //   h4.summarysmall.golden POTENTIAL NET
             //   h1.summarybig.lightyellow.text-right 34&period;0000
            
            #currentplayers
            #onlineusers
            // h4.fadedtext Current Participants
            //- ul.nav.nav-pills#myTab(style="")
              //- li.active
              //-   a(href='#current_participants_pane', data-toggle='pill')
              //-     div(style="display:table;")
              //-       .visible-lg(style="display:table-cell;") Current&nbsp;
              //-       div(style="display:table-cell;") Participants
              //-       i.number-badge.current-participants-badge
              //- li
              //-   a(href='#past_winners_pane', data-toggle='pill')
              //-     div(style="display:table;")
              //-       .visible-lg(style="display:table-cell;") Past&nbsp;
              //-       div(style="display:table-cell;") Winners
              //- li.active
              //-   a(id="chat_pill" href='#chat_toggle2', data-toggle='pill')
              //-     | Chat&nbsp;
              //-     i.number-badge.chat-badge
            .tab-content
              
              .tab-pane#past_winners_pane
                table#pastwinners.table.table-condensed.table-hover.transltable.centered
                  thead
                    //- tr
                    //-   th(colspan=1) POT
                    //-   th(colspan=2)#winner WINNER
                    //-   th(colspan=3)#disbursements DISBURSEMENTS
                    tr
                      th SIZE
                      th NAME
                      th CONTRIBUTION
                      th PRIZE
                      th NEXT JACKPOT
                      th HOUSE
                  tbody
              .tab-pane#chat_toggle2
          .col-xs-12.col-sm-5.col-md-4.col-lg-4.nosidemargin.rsNoDrag.chart
            #pie.betchart
          .col-xs-12.col-sm-3.col-md-4.col-lg-4
            #current_participants_pane
                ul.currentplayers
                table#currentbets.table.table-condensed.table-hover.transltable.centered
                  thead
                    tr
                      th PLAYER
                      th CHANCE
                      th TOTAL BET
                      th &percnt; OF POT
                  tbody
                //- #no_participants
                //-   h4.light-background#no_participants_msg
                //-     span.visible-lg There are no players in the current round.
                //-     span.hidden-lg There are no players in this round.            
          
          
         // .col-md-3.col-lg-4.nosidemargin#my_current_stats
            
       

    // Betting Navigation
    section#betnav.navbar-fixed-bottom.bitsplitbetnav
      .bigcounter
        
      .row      
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.btcchance
          // | Risk Chance Calculation
          // a  Learn about Smart API bidding
          span.hidden-xs Place Your Bet By Percentage of Prize
          span.visible-xs  Your Bet - 
          span.visible-xs.my_contribution
          span.visible-xs  Your Chance - 
          span.visible-xs.my_win_chance
           
           
          .btn-group.btn-group-justified.hidden-xs.btn-group-transparent.btccost#bet_amounts
            // a.btn.btn-default 0&period;0002300
            a.btn.btn-default(percentage="50") 
            a.btn.btn-default(percentage="20") 
            a.btn.btn-default(percentage="10") 
            a.btn.btn-default(percentage="5") 
            a.btn.btn-default(percentage="1") 
            a.btn.btn-default(percentage="custom")
              input(type="text", value="0.00000001")#custom_bet_input.form-control.input-sm

          .btn-group.btn-group-justified.hidden-xs.bet_buttons
            a.btn.btn-success(percentage="50") 50&percnt;
            a.btn.btn-success(percentage="20") 20&percnt;
            a.btn.btn-success(percentage="10") 10&percnt;
            a.btn.btn-success(percentage="5") 5&percnt;
            a.btn.btn-success(percentage="1") 1&percnt;
            a.btn.btn-success(percentage="custom") Custom Bet
          
          .btn-group.visible-xs.bet_buttons
            a.btn.btn-success(percentage="50") 50&percnt;
            a.btn.btn-success(percentage="20") 20&percnt;
            a.btn.btn-success(percentage="10") 10&percnt;
            a.btn.btn-success(percentage="5") 5&percnt;
            a.btn.btn-success(percentage="1") 1&percnt;
            a.btn.btn-success(percentage="custom") MIN



  footer.navbar-fixed-bottom.navbar-inverse
    .bit.bitbank
          a.my_user_name.welcome
          i.fa.fa-edit(style="display:inline-block;float:left;padding:7px;margin-top:8px;")#edit_user_name
          h2.my_balance
          .btn-group.btn-group.btn-group-justified.btn-group-transparent
            a.btn.btn-default#withdraw Withdraw
            a.btn.btn-default#deposit Deposit    
          
  // FAQ Modal
  

  #chat_modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content.transmodal
        .modal-body.chattrans
          include chat
        //- .modal-footer
        //-   button.btn.btn-default(type='button', data-dismiss='modal') Close

  #account_modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#myModalLabel.modal-title Your Account Information
        .modal-body
          h4.text-left User Name
          h4.info.my_user_name.text-left
          h4.text-left Password
          h4.info#password.text-left
            | !{password}
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
  #name_change_modal.create_or_change_name.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#myModalLabel.modal-title Change Your User Name
        .modal-body
          form(role="form")
           .form-group.center
             input#new_user_name.form-control.center-block(type="text", placeholder="New User Name", style="width:70%;margin-bottom:10px;", autocomplete="off", autocorrect="off", autocapitalize="off", autofocus)
             input#user_name_change.btn.btn-primary.disabled.center-block(role="button", type="button", value="Change It!", href='#', style="width:70%;margin-bottom:10px;")


        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
  #howitworks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#myModalLabel.modal-title How It Works
        .modal-body
          p BitSplit is a bitcoin micro-lottery where larger total bets have a disproportionately higher chance of winning; your chance of winning is proportional to the square of your bet.

          p 50% of your bet goes into the current prize, 48% goes into the next jackpot, and 2% goes to the house.

          p If no one else is playing, 1 satoshi is all it takes to win!

          p If you want an alternate way to earn money, refer some of your friends using the referral link which you can find by clicking the bitcoin symbol in the left sidebar.
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
  #faqcontent.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#myModalLabel.modal-title Frequent Questions Answered
        .modal-body
          dl.dl-horizontal
            dt What is Bitsplit the thinking man&apos;s game&quest;
            dd Long answer goes here to explain why Bitsplit is fun and smart&period;
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
  // The Math Modal
  #themath.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#myModalLabel.modal-title The Math Explained
        .modal-body
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
  // Verification Modal
  #verification.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#myModalLabel.modal-title Verification
        .modal-body
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
  // API Modal
  #api.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#myModalLabel.modal-title The API Explained
        .modal-body
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
  // Contact Modal
  #contact.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#myModalLabel.modal-title Contact Us
        .modal-body
          p We&apos;d love to hear from you!
          p Comments, suggestions, questions, ideas -- even complaints -- are all welcome.
          p You can contact us via 
            a(href="https://www.facebook.com/bitsplit") facebook.com/bitsplit
            |  or 
            a(href="mailto:admin@bitsplit.it?Subject=Hi!") admin@bitsplit.it
            | .
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
  // Sign-In Modal
  #signin.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#myModalLabel.modal-title Sign In
        .modal-body
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
    // Jquery Scripts
    script(type='text/javascript', src='jquery.royalslider.min.js')
    script(type='text/javascript', src='jquery.easing-1.3.js')
    script(type='text/javascript', src='jquery.nouislider.min.js')
    // Main Slider Initiation Code
    script(type='text/javascript', src='lunar.min.js')
    script(type='text/javascript', src='chart.custom.js')
    script(type='text/javascript', src='/main.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    include common_script
