extends tpl

block head
  link(href='http://fonts.googleapis.com/css?family=Bitter', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=PT+Sans', rel='stylesheet', type='text/css')

  style.
    body {
      font-family: "PT Sans";
    }
    .jumbotron-text {
      margin-top: 50px;
    }
    .jumbotron-text h1, .jumbotron-text h2 {
      text-align: center !important;
      font-family: "Bitter";
      color: white;
      margin-bottom: 30px !important;
    }
    .highlight {
      text-shadow: none;
    }
    .btn-cta {
      margin-left: 30px !important;
      margin-right: 30px !important;
      margin-top: 55px !important;
      font-family: "Bitter";
      font-weight: 900 !important;
    }

block content
    .jumbotron.jumbotron-headline.bg-color-usd
      .container.jumbotron-text
        h1 BitSplit
        h2.tagline A lottery that statistically favors higher contributions.
        br
        br
        br
        h1.left Prize:&nbsp;&nbsp;
          span#prize-amount.font-color-bitcoin.glow 
        h1.left Next Winner:&nbsp;&nbsp;
          span.font-color-bitcoin.glow
             span.split-time-minutes ...
             |  min countdown
        include ctas
    .container
      include bet_tables
      hr
      footer

block scripts
  include script_bet_tables