extends tpl

block content
    .jumbotron.tall.bg-color-usd
      .container.jumbotron-text
        h1 How to play
        br
        h2.left  There&apos;s one communal Bitcoin jackpot which will split at an unknown time.
        h2.left It will split
          i  on average
          |  every 15 minutes.
        h2.left When it splits, whoever has contributed the most to the jackpot since its last split, will get 50% of the jackpot.
        h2.left 48% goes back into the jackpot, and 2% goes to the house.
        h2.left Bet responsibly, and good luck!

        p(style='text-align:center;')
          a.btn.btn-primary.btn-cta(role='button', href='/play')
            span.highlight Play Now
    .container
