extends tpl_full_page

block content_full
  h2.left Players place bets; their chance of winning the prize is 
    a(href="/math#skew") disproportionately higher with higher contributions
    |  to the pot.
  h2.left You can check out the tables on the 
    a(href="/") landing page 
    | to see the current chances for each player to win.

  h2.left The prize amount is calculated by adding (current contributions + left-over contributions from last jackpot) and dividing by two.

  h2.left The house's cut is 2%.

  h2.left Bet responsibly, and good luck!

  p(style='text-align:center;')
    a.btn.btn-primary.btn-cta(role='button', href='/math#')
      span.highlight See The Math
  p(style='text-align:center;')
    a.btn.btn-primary.btn-cta(role='button', href='/play')
      span.highlight Play Now
