extends index4

append head
  style.
    /* Still requires a height on the dive that it is applied to */
    .absolute-center {
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
    }
    .overlay {
        position:fixed;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        background-color: rgb(0, 0, 0);
        opacity: 0.5; display: block;
        z-index: 1001;
    }

append content
    .jumbotron.tall.jumbotron-headline
      .container.jumbotron-text
        .overlay
        #login.absolute-center
          h3.center Welcome to BitSplit
          hr
          form(role="form")
           .form-group.center
             input#new_user_name.form-control.center-block(type="text", placeholder="Enter Your Name", style="width:50%;")
             a.btn.btn-primary(role='button', href='#', style="margin-right:10px;width:50%;", onclick="user.create($('#new_user_name').val())")
               span.highlight Confirm
          // a(href="/login")  Log in
