extends index

append head
  style.
    /* Still requires a height on the dive that it is applied to */
    .absolute-center {
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
    }
    .overlay {
        position:fixed;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        background-color: rgb(0, 0, 0);
        opacity: 0.5; display: block;
        z-index: 1001;
    }

append content
  .overlay
  .modal-dialog.modal-lg.absolute-center#login
    .modal-content
      .modal-header
        h4#myModalLabel.modal-title(style="display:inline;") Welcome to
        img(src='https://www.filepicker.io/api/file/DTOJ2HhRjWe2nNPEVA3P', style="height:50px;")
        h5#myModalLabel(style="text-align:center;") The Thinking Man's Lottery
      .modal-body
        form(role="form")
         .form-group.center
           input#new_user_name.form-control.center-block(type="text", placeholder="Choose Your User Name", style="width:70%;margin-bottom:10px;", data-toggle="tooltip", data-placement="top", title="")
           a.btn.btn-primary.center-block(role='button', href='#', style="width:70%;margin-bottom:10px;", onclick="user.create($('#new_user_name').val())")
             span.highlight Confirm
           a(onclick="temp.login()", style="margin-left:15%;") Sign In
      .modal-footer
        br