
<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Bit<span id="logo_split"></span>Split<span id="logo_split2">&NonBreakingSpace;</span></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">FAQ</a></li>
        <li><a href="#">The Math</a></li>
        <li><a href="#" onclick="temp.login();">Sign In</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <table>
            <tr>
              <td><span style="color:white">Currency: </span></td>
              <td style="padding-left: 10px;">
                <select id="currency_type" onchange="change_currency_type($(this).val());" style="margin-top:15px;">
                  <option value="fake">Fake</option>
                  <option value="btc">Bitcoin</option>
                </select>
              </td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
  </div>
</div>