extends tpl

block content
    .jumbotron.jumbotron-headline.bg-color-usd
      .container.jumbotron-text
        h1 Betting interface coming soon!
    .container
      include bet_tables
   

block scripts
  include script_bet_tables