// http://stackoverflow.com/questions/19089384/twitter-bootstrap-3-two-columns-full-height

extends tpl

block head
  style.
    #other_info, #account_info, #bet_interface {
      background: white;
      padding: 30px;
    }

    #bet_interface {
      border-left: 1px solid black;
      border-right: 1px solid black;
    }

    #top-table {
        display: block;
        overflow: hidden;
    }

    #top-table [class*="col-"]{
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }

block content
    .jumbotron.jumbotron-headline.bg-color-usd
      .container.jumbotron-text
        // h1 Betting interface coming soon!
        row.info-row#top-table
         .col-md-3#other_info
           h2 Prize
             br
             span#prize-amount.font-color-bitcoin
           br
           h2 Next Winner
             br
             span.font-color-bitcoin
               span.split-countdown-timer ...
           br
           h2 Contribution
             br
             h2.font-color-bitcoin
               i.fa.fa-btc
               span#player_contribution.font-color-bitcoin 0
           br
           h2 Win Chance
             br
             span#player_chance_of_winning.font-color-bitcoin.percentage-symbol 0
         .col-md-6#bet_interface
           row.info-row &nbsp;
           row.info-row
             form(role="form")
               .form-group
                 input#bet_amount_btc.form-control.center-block(type="number", step=".01", placeholder="Amount in BTC",min=".0001",style="width:50%;")
             .center
               a.btn.btn-primary.btn-cta(role='button', href='#', style="margin-right:10px;", onclick="place_bet(to_satoshis($('#bet_amount_btc').val()))")
                 span.highlight Place Bet
         .col-md-3#account_info.tall
           h2 Balance
           h1.font-color-bitcoin
             i.fa.fa-btc
             | ∞
           br
           h2 User
           h2#user_id.font-color-bitcoin !{user_id}
           br
           .center
             a.btn.btn-primary(role='button', href='#', style='margin-right:5px;') Deposit
             a.btn.btn-primary(role='button', href='#') Withdraw

    .container
      include bet_tables
   

block scripts
  include script_bet_tables