/* Make something awesome! */
.transparent { background-color: rgba(34, 34, 34, 0) }
.gameview {
    padding: 0 6%;
    margin-top: 8%;
}
body {
    background-color: #207E81;
    min-height: 100%;
    /* height: 100%; */
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
   
    overflow: hidden;
    /* padding-bottom: 271px;*/
}
#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("images/bg-reduced.jpg");
    background-size: 100% auto;
    opacity: 0.0;
    min-height: 100%;
    overflow: hidden;
}
 #bg img {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     min-width: 50%;
     min-height: 50%;
 }
#bitsplitnav {
    padding: 0 2% 0 0;
    margin-top: 3%;
    border: 0;
}
.navbar-inverse .navbar-nav>li>a {
    font-size: 16px;
    font-family: "Helvetica Neue";
    color: rgba(157, 241, 250, 0.9) !important;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 0px;
    opacity: 0.9;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    font-family: "Helvetica Neue";
    color: #9DF1FA !important;
    border-bottom: 1px solid rgba(157, 241, 250, 0.5);
    padding: 8px 16px;
    font-weight: 400;
    letter-spacing: 0px;
    opacity: 1;
}
.navbar-inverse .navbar-nav>.active>a {
    background : none;
    border : 1px solid rgba(157, 241, 250, 0.55) !important;
    border-radius : 6px;
}
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background: none;
    border: 1px solid rgba(157, 241, 250, 1.00) !important;
    border-radius: 6px;
}
.btn-group-transparent > .btn {
    background: none;
    border: none;
    color: #C7C7C7;
    background-color: rgba(235, 235, 235, 0);
    font-size: 13px;
}
.btn-group-riskscale > .btn {
    background: none;
    color: rgba(3, 3, 3, 0.79);
    border-color: #020202;
}
.bitsplitbetnav {
    padding: 0 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    background: rgba(39, 20, 0, 0.33);
    padding-top: 0%;
    bottom: 42px;
}
div.navbar-header { margin-top: -30px}
.dl-horizontal dt {
    text-overflow: inherit;
    white-space: normal;
}
table.table.table-condensed.transltable {
    width: 100%;
    /* margin-left: 8%; */
    background: rgba(2, 22, 21, 0.43);
    color: white;
}
thead {
    background: rgba(34, 34, 34, 0.57);
    color: #42A098;
    font-weight: normal;
    font-size: 10px;
}
.table>thead>tr>th {
    border-bottom: 0;
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    font-size: 1em;
    padding-top: 9px;
    padding-bottom: 8px;
    text-align: center;
}
div.modal-header {
    background: rgba(34, 104, 107, 1);
    color: #A4D8D3;
    font-weight: 100;
    border-bottom: 0;
}
div.modal-body {background: white; }
div.modal-content {  }
div.modal-footer {
    background: rgba(223, 223, 223, 1);
    margin-top: 0;
}
.modal-title {
    font-size: 1.7em;
    text-align: center;
}
.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th { color: #333 }
h4.fadedtext {
    color: #ffffff;
    opacity: 0.4;
    width: 86%;
    margin-left: 8%;
    margin-top: 10%;
    font-weight: 200;
    letter-spacing: 0px;
    margin-bottom: 5%;
}
.table-responsive { border: none }
path.slice { stroke-width: 2px }
polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}
#currenrndsize {
    color: #96530C;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    text-transform: uppercase;
}
#potprize {
    font-size: 45px;
    margin-top: 0;
    font-weight: bold;
    color: #702000;
    letter-spacing: -2px;
    font-family: 'Montserrat', sans-serif;
}
div#endofround { overflow: hidden }
div.row.summary {
    width: 100%;
    border-bottom: 1px solid rgba(157, 241, 250, 0.31);
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top: 8px;
    /* display: inline-block; */
    float: left;
    /* margin-left: 40px; */
    margin-right: 0;
    margin-left: 0;
}
.bitbank > .btn-group-transparent > .btn {
    background: #232323;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    padding-top: 9px;
}
a.btn.btn-default { }
div.bitbank div.btn-group.btn-group-lg.btn-group-transparent {
    background: rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
 div.bitbank div.btn-group.btn-group-lg.btn-group-transparent > btn-default { }
.bitbank {
    background: rgba(0, 0, 0, 0.31);
    padding: 0% 3%;
    color: #fff;
    text-align: right;
    height: 100%;
    padding-top: 0px;
}
.btcchance {
    padding: 2% 2%;
    background: rgba(0, 46, 38, 0.79);
    padding-top: 20px;
    color: rgba(219, 216, 138, 0.97);
    text-align: center;
    padding-bottom: 4px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}
.btcbet {
    background: rgba(5, 61, 61, 0.85);
    padding: 2% 3%;
    color: #fff;
    float: right;
    height: 164px;
    padding-top: 18px;
}
div.bigcounter {
    background: linear-gradient(-180deg, #FAE187 1%, #ECC43D 100%);
    height: 8px;
    width: 0%;
    position: relative;
    margin-top: -3px;
    -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s;
}
.btccost {
    margin-top: 7px;
    margin-bottom: 0px;
}
.bitsplitbetnav > h2 { margin-top: 10px }
h2 {
    margin-top: 17px;
    margin-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    letter-spacing: -1px;
    color: #FFEBA9;
    border: 1px dotted rgba(162, 162, 162, 0.39);
    padding: 7px;
    margin-top: 7px;
}
.btcbet > input.form-control.input-lg {
    background: rgba(26, 26, 26, 0.19);
    border: 1px dotted rgba(157, 241, 250, 0.6);
    font-size: 29px;
    margin-bottom: 7px;
    margin-top: 6px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    color: rgba(157, 241, 250, 1.0);
    border-radius: 0;
    height: 49px;
}
h1.summarybig.lightyellow.text-right {
    font-family: 'Montserrat', sans-serif;
    font-size: 41px;
    letter-spacing: -1px;
    color: #FFEBA9;
    margin-top: 0px;
    /* width: 70%; */
    /* float: right; */
    /* margin-left: 21px; */
    /* clear: left; */
    margin-bottom: 0px;
    margin-top: 10px;
}
h4.summarysmall.golden.text-right {
    width: 100%;
    float: left;
    font-size: 15px;
    margin-top: 0PX;
    text-align: right;
    color: rgba(9, 33, 5, 0.53);
}
.montlarge {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    letter-spacing: 0px;
    text-transform: uppercase;
    line-height: 1.21;
}
.nosidemargin {
    /* margin-left: 0; */
    /* margin-right: 0; */
    /* padding-right: 0; */
    /* padding-left: 0; */
}
.btn-group-riskscale {
    background: linear-gradient(-90deg, #FFF25F 1%, #FA3200 100%);
    border-radius: 6px;
    background: linear-gradient(-90deg,#5FFF92 1%,  #FFF25F 50%, #FA3200 100%);
}
a.btn.btn-success.btn-lg.btn-block.montlarge {
    background: linear-gradient(-180deg,#4DDD4D 1%, #47a447 100%);
    border: none;
    color: #FFF;
}
div.row.netposition {
    width: 88%;
    padding-right: 6%;
    padding-left: 1%;
}
div.row.netposition.loss { background: rgb(124, 6, 6) }
div.row.netposition.profit {
    background: rgb(0, 148, 0);
    color: #fff;
}
div.row.netposition h4.summarysmall.golden {
    font-size: 17px;
    width: 41%;
    float: left;
    padding-left: 10px;
    padding-top: 8px;
    color: rgba(255, 255, 255, 0.98);
}
div.row.netposition h1.summarybig.lightyellow.text-right {
    font-size: 32px;
    float: right;
    width: 50%;
    color: rgba(255, 255, 255, 1);
}
h4.summary {
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0;
    margin-top: 30px;
    width: 85%;
    text-align: right;
}
div.row.summary:first-child { }
div.row.summary:first-child {
    /* margin-top: 50px; */
    /* padding-bottom: 0px; */
    /* padding-top: 3px; */
}
 div.row.summary:first-child h1 { /* font-size: 60px */}
tr.yourposition {
    background: rgb(166, 229, 236);
    color: #333;
    background: linear-gradient(-180deg,rgb(204, 247, 252) 1%, rgb(166, 229, 236) 100%);
}
div.row.summary:first-child h4 { margin-top: 0px; /* margin-left: 14px; */ /* color: #fff; */ line-height: 20px; text-align: right;}

/****************************************************************
 * Other new CSS
 ****************************************************************/
div.modal-body.chattrans {
background: none;
}


.currency { }
.my_balance {
    width: 244px;
    height: 29px;
    text-align: left;
    font-size: 17px;
    padding-top: 5px;
    display: inline-block;
}
.my_balance:before {
    content: "฿";
    color: rgba(240, 207, 92, 0.92);
}
.my_current_bet:before {
    // Does not work because this is an input form: ;
    content: "฿";
}
.my_win_chance:after { content: "%" }
#alert {
    position: absolute;
    top: 30px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    z-index: 1100;
}
#login {
    height: 300px;
    width: 485px;
    z-index: 10002;
}
.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.overlay {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    display: block;
    z-index: 10000;
}
.overlay-solid {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(1, 21, 24, 0.79);
    opacity: 1;
    display: block;
    z-index: 10001;
    pointer-events: none;
}
.bitbank p { display: inline }
p#chat_toggle {
    position: absolute;
    left: 10px;
    background: rgba(27, 27, 27, 0.41);
    padding-left: 14px;
    margin-top: -45px;
    padding: 5px 23px;
    color: white;
    border-radius: 4px;
    text-align: center;
}
a.my_user_name.welcome:not(:empty):before {
    content: "Hi, ";
    color: white;
}
a.my_user_name.bet_greeting:not(:empty):before {
    content: "Current Bet, ";
    color: white;
}
#pastwinners #disbursements { text-align: center }
#pastwinners #winner {
    border-right: 1px dotted black;
    border-left: 1px dotted black;
    text-align: center;
}
li a[data-toggle="pill"] {
    color: #ffffff;
    opacity: 0.5;
    font-weight: 200;
    letter-spacing: 0px;
    margin-bottom: 6px;
    background: rgba(5, 61, 61, 0.15) !important;
}
li.active a[data-toggle="pill"] {
    opacity: 0.7;
    background: rgba(5, 61, 61, 0.85) !important;
}
li:not(.active) a[data-toggle="pill"]:hover {
    opacity: 0.6;
    background: rgba(5, 61, 61, 0.5) !important;
}
a.btn.btn-currency {
    color: #ffffff;
    opacity: 0.7;
    font-weight: 200;
    letter-spacing: 0px;
    margin: 0px 2px;
    background: rgba(5, 61, 61, 0.15) !important;
}
a.btn.btn-currency.active {
    opacity: 0.8;
    background: rgba(5, 61, 61, 0.85) !important;
}
a.btn.btn-currency:not(.active):hover {
    opacity: 0.75;
    background: rgba(5, 61, 61, 0.5) !important;
    border-bottom: 0px solid black !important;
}
table#pastwinners>thead>tr>th { border-top: 1px dotted black }
.btccost .btn:not(:empty):not([percentage="custom"]):before {
    content : "฿ ";
    color: rgba(250, 225, 135, 0.22);
}
.bet_buttons { border-spacing: 6px }
 .bet_buttons .btn:not([percentage="custom"]):after {
     content : " of prize";
     font-weight: normal;
     font-size: 15px;
     opacity: 0.7;
     color: rgba(0, 0, 0, 0.67);
 }
.btn-group-riskscale .btn { font-weight: 700 }
#custom_bet_input {
    background: rgba(22, 22, 22, 0.44);
    padding: 0 3%;
    color: #FFEBA9;
    padding-left: 10px;
    border: 1px dotted rgba(255, 235, 169, 0.6);
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    height: 35px;
}
#logo,
.pointer-events-none { pointer-events: none }
#account_modal .info { color: #428bca }

/****************
 * Chat
 ****************/
#chat {
    z-index: 10001;
    width: 100%;
    margin-left: 0%;
}
.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}
 .chat li {
     margin-bottom: 10px;
     padding-bottom: 11px;
     border-bottom: 1px dotted rgba(0, 0, 0, 0.36);
 }
 .chat li.left .chat-body { margin-left: 00px;}
 .chat li.right .chat-body { margin-right: 60px }
 .chat li .chat-body p {
     margin: 0;
     color: #FFEC87;
 }
 .panel .slidedown .glyphicon,
 .chat .glyphicon { margin-right: 5px }
.panel-body {
    overflow-y: scroll;
    height: 300px;
    background: rgba(6, 6, 6, 0.66);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.modal-backdrop { pointer-events: none }
.btc_lighter { opacity: 0.2 }
.panel-primary>.panel-heading {
    background: rgba(0, 0, 0, 0.24);
    border: none;
    /*display: none;*/
}
div.panel.panel-primary {
    background: rgba(22, 22, 22, 0.31);
    border: none;
}
div.panel-footer {
    background: rgba(31, 31, 31, 0.52);
    border-top: none;
}

.transmodal {
background: none;
box-shadow: none;
border: none;
}

#sidebar { z-index: 10000 }
input#btn-input {
    background: rgba(0, 0, 0, 0.35);
    border: none;
    padding: 0 15px;
}
.bet_buttons > a.btn.btn-success {
    font-size: 28px;
    padding: 6px 0px 7px 0px;
    border-radius: 5px;
    border-top: 1px solid rgba(176, 219, 176, 0.78);
    border-left: 1px solid rgba(191, 216, 155, 0.78);
    border-right: 3px solid rgba(0, 0, 0, 0.52);
    border-bottom: 5px solid rgba(0, 0, 0, 0.27);
    color: #FFFA8D;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
span.primary-font {
    float: left;
    margin-right: 11px;
    font-size: 13px;
    margin-top: 2px;
    color: rgba(255, 255, 255, 0.51);
}
.bet_buttons > a.btn.btn-success:last-child {
    font-size: 22px;
    padding-top: 11px;
}
.alertify-logs { bottom: 225px !important }

/****************************************************************
 * Sidebar
****************************************************************/
.navbar-form input,
.form-inline input { width: auto }
#sidebar.affix,
#sidebar.affix-top {
    position: fixed;
    bottom: 43%;
    left: 4px;
}
#sidebar { z-index: 10000 }
 #sidebar a {
     border: 0px solid rgba(0, 0, 0, 0.32);
     color: #C8FAFF !important;
     background: #003A3E;
     font-size: 10px;
     padding: 10px;
     text-align: center;
 }
 #sidebar a:hover { background: #028189 }
.number-badge {
    display: block;
    border-radius: 50%;
    font-size: 9px;
    width: 17px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    background-color: #ed6565;
    color: #ffffff;
}
.number-badge:empty { background-color: transparent !important }
.number-badge.chat-badge {
    position: absolute;
    top: 10px;
    right: 2px;
    background-color: #ed6565;
    color: #ffffff;
}
.number-badge.current-participants-badge {
    position: absolute;
    top: 10px;
    right: 2px;
    background-color: #0066FF;
    color: #ffffff;
}
#no_participants { /* margin-left: 8%  */ color: #fff; clear: left; height: 95px; background: rgba(1, 44, 37, 0.35); /* width: 80%; */ margin: 0 auto; border-radius: 7px;}
#no_participants_msg { padding: 19px 10px; margin-bottom: 0px; font-size: 16px; color: rgba(255, 255, 255, 0.26); text-align: center;}
.light-background { /* background: rgba(0, 0, 0, 0.24); */}
#no_participants,
#currentbets { display: none ; margin-top: 10px;}
#currentbets tr.player_inactive { opacity: 0.3;}

#volume_slider {
    position: absolute;
    left: 60px;
    top: 15px;
    width: 150px;
    display: none;
}
.create_or_change_name .tooltip-inner,  {
    min-width: 300px;
    max-width: 300px;
    font-size: 1.2em;
}
.create_or_change_name .tooltip { opacity: 1 !important }
.create_or_change_name .tooltip.top > .tooltip-inner { background-color: #ed6565 }
.create_or_change_name .tooltip.top > .tooltip-arrow { border-top-color: #ed6565 }
footer {
    position: absolute;
    bottom: 0;
    height: 42px;
}
a.my_user_name.welcome {
    display: inline-block;
    /* min-width: 100px; */
    float: left;
    min-height: 34px;
    margin-top: 12px;
    font-size: 16px;
}
.bitbank > div.btn-group.btn-group.btn-group-justified.btn-group-transparent {
    display: inline-block;
    max-width: 220px;
    margin-top: -5px;
    margin-left: 5px;
}


/****************************************************************
 * Misc
****************************************************************/
/* Menu should not cover up left table options on smaller screens */
#bitsplitnav, #bitsplitnav-buttons {
    pointer-events: none;
}
#bitsplitnav-buttons * {
  pointer-events: auto;
}


ul#myTab {
    clear: left;
    padding-top: 19px;
}
h1#my_contribution {
    margin-top: 17px;
    margin-bottom: 2px;
    font-size: 31px;
}
div.yourstats {
width: 84%;
margin: 0 auto;
}


ul.currentplayers li {
    float: left;
    width: 88%;
    height: 34px;
    margin-right: 3px;
    background: rgba(8, 44, 38, 0.37);
    border-radius: 2px;
    padding: 7px;
    overflow: hidden;
    margin-bottom: 4px;
    color: rgba(139, 234, 241, 0.65);
}
ul.currentplayers {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.player_active.advantage td:nth-child(2){
  color: #33aa33;
}
.player_active.disadvantage td:nth-child(2) {
  color: #CC1414;
}


/****************************************************************
 * Responsive Breakpoint Styles
****************************************************************/

/*Phones*/
@media (max-width:768px) {
    img#logo {
        max-width: 230px;
        margin-top:-10px;
    }
    #bitsplitnav {
        padding: 0 0% 0 0;
        margin-top: 3%;
        border: 0;
    }
    .bet_buttons {
        margin-top: 10px;
        width: 100%;
        float: left;
        padding-left: 5%;
    }
     .bet_buttons .btn:not([percentage="custom"]):after {
         content: "of prize";
         font-weight: normal;
         font-size: 10px;
         opacity: 0.7;
         color: rgba(0, 0, 0, 0.76);
         position: absolute;
         left: 55%;
         bottom: 1px;
         margin-left: -28px;
     }
    .my_balance {
        width: 111px;
        height: 29px;
        text-align: center;
        font-size: 13px;
        padding-top: 7px;
        display: inline-block;
    
        letter-spacing: 0px;
}

.btcchance {
padding: 2% 2%;
background: rgba(0, 46, 38, 0.79);
padding-top: 10px;
color: rgba(219, 216, 138, 0.97);
text-align: center;
padding-bottom: 4px;
font-size: 13px;
text-transform: uppercase;
font-weight: bold;
}

    #bg { background-size: auto 100% }
    .bet_buttons > a.btn.btn-success:last-child { font-size: 14px }
    .bet_buttons > a.btn.btn-success {
        font-size: 18px;
        width: 16%;
        padding: 6px 0px 13px 0px;
        margin-bottom: 3px;
        margin-right: 0px;
    
        border-bottom: 2px solid rgba(0, 0, 0, 0.27);
        border-left: 0px solid rgba(191, 216, 155, 0.78);
        border-right: 2px solid rgba(0, 0, 0, 0.52);
        font-weight: 100;
}
    
    h4.summarysmall.golden.text-right {
width: 100%;
float: left;
font-size: 14px;
margin-top: 0PX;
text-align: right;
color: rgba(187, 243, 183, 0.52);
}
    
    div.navbar-header {
margin-top: 0px;
    }
    .navbar-inverse .navbar-toggle {
        
        border:none;
        opacity:0.4;
        margin-top:26px;
    }
}

/*Phone and Ipad*/
@media (min-width:768px) {
    
    h1.summarybig.lightyellow.text-right {
        
        font-size: 29px;
        
    }
    
    div.betchart svg {
margin: 0 auto;
margin-left: -16px !important;
}
    
    
    .bet_buttons > a.btn.btn-success { font-size: 22px }
    img#logo { max-width: 290px }
    .bet_buttons > a.btn.btn-success:last-child {
        font-size: 17px;
        padding-top: 11px;

    }
.navbar-nav.navbar-right:last-child {
margin-right: 0;

}

     .bet_buttons {
        margin-top: 10px;
        width: 100%;
        float: left;
        padding-left: 0%;
    }
.bet_buttons > a.btn.btn-success:last-child { font-size: 13px }

    .bet_buttons .btn:not([percentage="custom"]):after {
        content: "of prize";
        font-weight: normal;
        font-size: 11px;
        opacity: 0.7;
        color: rgba(0, 0, 0, 0.67);
        position: absolute;
        left: 50%;
        bottom: 1px;
        margin-left: -28px;
    }
    #bg { background-size: auto 100% }
    .bet_buttons > a.btn.btn-success {
        font-size: 22px;
        padding: 0px 0px 10px 0px;
    }
}

/*Median Screen and Ipad*/
@media (min-width:992px) { 

    div.betchart svg {
        
        margin-left: -22px !important;
    }

    .bet_buttons .btn:not([percentage="custom"]):after {
        content: "of prize";
        font-weight: normal;
        font-size: 12px;
        opacity: 0.7;
        color: rgba(0, 0, 0, 0.67);
        position: absolute;
        left: 50%;
        bottom: 4px;
        margin-left: -28px;
    }
    #bg { background-size: auto 100% }
    .bet_buttons > a.btn.btn-success {
        font-size: 22px;
        padding: 4px 0px 18px 0px;
    }
    img#logo {
        max-width: 265px;
    }
}

/*Large Screen Minimum*/
@media (min-width:1200px) {
    
    div.betchart svg {
margin-left: auto !important;
}
    
    .bet_buttons .btn:not([percentage="custom"]):after {
        content: "of prize";
        font-weight: normal;
        font-size: 12px;
        opacity: 0.7;
        color: rgba(0, 0, 0, 0.67);
        position: inherit;
        text-align: left;
        left: 35px;
        bottom: 4px;
    }
    .bet_buttons > a.btn.btn-success {
        font-size: 29px;
        padding-top: 2px;
        padding-bottom: 4px;
    }
    .bet_buttons > a.btn.btn-success:last-child {
        font-size: 22px;
        padding-top: 11px;
    }
    #bg { background-size: auto 100% }
    img#logo { max-width: 387px; max-height: none; }
}

/*Large Screen Minimum*/
@media (min-width:1400px) {

#bg { background-size: 100% auto }

}