/* Make something awesome! */
.transparent {
  background-color:rgba(34, 34, 34, 0);
}

.gameview {
  padding:0 6%;
  margin-top:8%;
}

body {
  background-color: #207E81;
}

#bg {
  position: fixed; 
 /* top: -50%; 
  left: -50%;*/ 
  width: 100%; 
  height: 100%;
  background: url("images/bg-reduced.jpg");
  background-size: 100% auto;
  opacity: 0.0;
   
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#bitsplitnav {
 padding: 0 6% 0 0;
 margin-top:3%;
 border:0;
}

.navbar-inverse .navbar-nav>li>a {
  font-size: 16px;
  font-family: "Helvetica Neue";
  color: rgba(157, 241, 250, 0.9) !important;

  padding:8px 16px;

  cursor:pointer;
  font-weight: 200;
  letter-spacing: 1px;
  opacity: 0.9;
}

.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus  {
  font-family: "Helvetica Neue";
  color: rgba(157, 241, 250, 1.0) !important;
 
  border-bottom:1px solid rgba(157, 241, 250, 0.5);
  padding:8px 16px;
  
  font-weight: 200;
  letter-spacing: 1px;
  opacity: 1;
}

.navbar-inverse .navbar-nav>.active>a {
  background : none;
  border : 1px solid rgba(157, 241, 250, 0.55) !important;
  border-radius : 6px;
}

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background:none;
  border: 1px solid rgba(157, 241, 250, 1.00) !important;
  border-radius:6px;
}

.btn-group-transparent > .btn {
  background: none;
  border: none;
  color: #F6E0B8;
  background-color: rgba(235, 235, 235, 0);
}

.btn-group-riskscale > .btn {
background: none;
/* border: none; */
color: rgba(3, 3, 3, 0.79);
/* background-color: rgba(246, 224, 184, 0.85); */
border-color: #020202;
}

.bitsplitbetnav {
  padding: 0 0%;
  margin-bottom: 0%;
  padding-bottom: 0%;
  background: rgba(39, 20, 0, 0.33);
  padding-top: 0%;
}

div.navbar-header {
margin-top: -30px;
}

#gameslider {
 /* padding-top: 11%;*/
}

.dl-horizontal dt {
    text-overflow: inherit;
    white-space: normal;
}

table.table.table-condensed.transltable {
    width: 84%;
    margin-left: 8%;
    background: rgba(2, 22, 21, 0.43);
}
tr {
}
thead {
    background: rgba(34, 34, 34, 0.57);
    color: #42A098;
    font-weight: normal;
    font-size: 10px;
    /* padding-left: 10px; */
    /* text-align: center; */
}
tbody {
}
tbody {}
.table>thead>tr>th {
    border-bottom: 0;
    font-size: 11px;
    /* padding-left: 14px; */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    font-size: 1em;
    /* padding-left: 14px; */
    padding-top: 9px;
    padding-bottom: 8px;
    text-align: center;
}

div.modal-header {
    background: rgba(34, 104, 107, 1);
    color: #A4D8D3;
    font-weight: 100;
    border-bottom: 0;
}
div.modal-body {
    background: white;
}
div.modal-content {
    background: none;
}
div.modal-footer {
    background: rgba(223, 223, 223, 1);
    margin-top: 0;
}
.modal-title {
    font-size: 1.7em;
    text-align: center;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    
    color:#333;
    
}
h4.fadedtext {
color: #ffffff;
opacity: 0.4;
width: 86%;
margin-left: 8%;
margin-top: 10%;
font-weight: 200;
letter-spacing: 0px;
margin-bottom: 5%;
}

.table-responsive {
border: none;
}


path.slice{
  stroke-width:2px;
}

polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

#currenrndsize {
  font-weight: bold;
  fill: #96530C;
  margin-top: 102px;
  margin-bottom: 2px;
  color: #96530C;
  font-size: 16px;
}

#potprize {
  fill: #702000;
  font-size: 40px;
  margin-top: 0;
  font-weight: bold;
  color: #702000;
  letter-spacing: -1px;
}

div#endofround {
  overflow: hidden;
}

div.row.summary {
width: 88%;
border-bottom: 1px solid rgba(157, 241, 250, 0.31);
margin-bottom: 0px;
padding-bottom: 5px;
padding-top: 8px;
} 

.bitbank > .btn-group-transparent > .btn {
    background-color: #333;
    background: #333;
}
a.btn.btn-default {}
div.bitbank div.btn-group.btn-group-lg.btn-group-transparent {
    background: rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
div.bitbank div.btn-group.btn-group-lg.btn-group-transparent > btn-default {
    
    
}
.bitbank {
    background: rgba(0, 0, 0, 0.31);
    padding: 2% 3%;
    color: #fff;
    /* max-width: 260px; */
    text-align: center;
    height: 164px;
    padding-top: 12px;
}
.btcchance {
    padding: 2% 2%;
    /* width: 54%; */
    background: rgba(22, 22, 22, 0.77);
    /* padding-top: 3%; */
    padding-top: 23px;
    height: 164px;
    color: #797979;
    text-align: center;
}
.btcbet {
    background: rgba(5, 61, 61, 0.85); 
    padding: 2% 3%; color: #fff;
    /* min-width: 225px; */
    float: right;
    height: 164px;
    padding-top: 18px;
}
div.bigcounter {
    background: linear-gradient(-180deg, #FAE187 1%, #ECC43D 100%);
    height: 8px;
    width: 0%;
    position: relative;
    margin-top: -3px;
    -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
transition: width 0.5s;

}
span.countertop {
    /* background: linear-gradient(-180deg, #FAE187 1%, #ECC43D 100%); */

    /* width: 20px; */
    /* height: 20px; */
    /* margin-top: -5px; */
    /* border-radius: 50%; */
    /* position: absolute; */
    /* right: -8px; */

    width: 100px;
    height: 58px;
    margin-top: -50px;
    border-radius: 1%;
    position: absolute;
    color: rgba(255, 255, 255, 0.99);
    right: 0px;

    display: block;
    float: right;
    z-index: 999;
    border-top: 1px solid rgba(252, 241, 197, 1);
    /* box-shadow: -1px 0px 0px rgba(36, 22, 5, 0.34); */
    background: rgba(22, 22, 22, 0.67);
}

.btccost {
    margin-top: 20px;
    margin-bottom: 12px;
}
.bitsplitbetnav > h2 {
    margin-top: 10px;
}

h2 {
    margin-top: 17px;
    margin-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    letter-spacing: -1px;
    color: #FFEBA9; 
    border: 1px dotted rgba(255, 235, 169, 0.6); padding: 7px; margin-top: 10px;
}
.btcbet > input.form-control.input-lg {
    background: rgba(26, 26, 26, 0.19);
    border: 1px dotted rgba(157, 241, 250, 0.6);
    font-size: 29px;
    margin-bottom: 7px;
    margin-top: 6px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    color: rgba(157, 241, 250, 1.0);
    border-radius: 0;
    height: 49px;
}

h1.summarybig.lightyellow.text-right {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    letter-spacing: -1px;
    color: #FFEBA9;
    margin-top: 13px;
    /* margin-bottom: 30px; */
    /* border-bottom: 1px solid; */
    width: 70%;
    float: left;
}
h4.summarysmall.golden.text-right {
    width: 30%;
    float: left;
    font-size: 17px;
    margin-top: 17PX;
}

.montlarge {
    font-family: 'Montserrat', sans-serif; 
    font-size: 24px; 
    letter-spacing: 0px;
    
    text-transform: uppercase;
    line-height: 1.21;
}

.nosidemargin {

margin-left: 0;


margin-right: 0;


padding-right: 0;

padding-left: 0;

}


.btn-group-riskscale {
    background: linear-gradient(-90deg, #FFF25F 1%, #FA3200 100%);
    border-radius: 6px;
    background: linear-gradient(-90deg,#5FFF92 1%,  #FFF25F 50%, #FA3200 100%);
}
a.btn.btn-success.btn-lg.btn-block.montlarge {
    background: linear-gradient(-180deg,#4DDD4D 1%, #47a447 100%);
    border: none;
    color: #FFF;
}
/* div.betchart svg { */
/*     margin-left: -18px; */
/* } */
div.row.netposition {
    width: 88%;
    padding-right: 6%;
    padding-left: 1%;
}
div.row.netposition.loss {
    background: rgb(124, 6, 6);
}

div.row.netposition.profit {
background: rgb(0, 148, 0);
color: #fff;
}

div.row.netposition h4.summarysmall.golden {
    font-size: 17px;
    width: 41%;
    float: left;
    padding-left: 10px;
    padding-top: 8px;
    color: rgba(255, 255, 255, 0.98);
}
div.row.netposition h1.summarybig.lightyellow.text-right {
    font-size: 32px;
    float: right;
    width: 50%;
    color: rgba(255, 255, 255, 1);
}
h4.summary {
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0;
    margin-top: 30px;
    width: 85%;
    text-align: right;
}
div.row.summary:first-child {}
div.row.summary:first-child {
    /* border-top: 1px solid rgba(0, 45, 49, 0.41); */
    margin-top: 50px;
    padding-bottom: 0px;
    padding-top: 3px;
}
div.row.summary:first-child h1 {
    font-size: 60px;
}

tr.yourposition {
  background: rgb(166, 229, 236);
  color: #333;
  background: linear-gradient(-180deg,rgb(204, 247, 252) 1%, rgb(166, 229, 236) 100%);
}

div.row.summary:first-child h4 {
  margin-top: 35px;
}

/****************************************************************
 * Chart CSS
 ****************************************************************/

.chart {
  text-align: center;
}

.chart_center {
  fill: #F7D45E;
}

div.betchart svg {
    margin-left: -18px;
}

.betchart svg g.arc {
  fill : rgba(57, 151, 153, 0.34);
}
/* .betchart svg g.arc:nth-child(3n+0) { */
.betchart svg g.arc:nth-child(odd) {
  fill : rgba(57, 151, 153, 0.64);
}

.betchart svg g.arc:hover {
  stroke: white;
}
.betchart svg g.arc.current-player {
  fill: #a6e5ec;
}

polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

/****************************************************************
 * Other new CSS
 ****************************************************************/

// This class should be used to change currency symbol before when currency type
// changes
.currency {

}

.my_balance {

}
.my_balance:before {
  content: "฿";
}
#potprize:before {
  content: "฿";
}
.my_current_bet:before { // Does not work because this is an input form
  content: "฿";
}

.my_win_chance:after {
  content: "%";
}

#alert {
  position: absolute;
  top: 30px;
  left:50%;
  width:400px;
  margin-left:-200px;
  z-index: 1100;
}

#login {
  height: 300px;
  width: 485px;
  z-index: 10002;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.overlay {
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    display: block;
    z-index: 10000;
}
.overlay-solid {
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: rgba(1, 21, 24, 0.79);
    opacity: 1;
    display: block;
    z-index: 10001;

    pointer-events: none;
}

a.my_user_name.welcome:not(:empty):before {
  content: "Welcome back, ";
  color: white;
}
a.my_user_name.bet_greeting:not(:empty):before {
  content: "Current Bet, ";
  color: white;
}

#pastwinners #disbursements {
  text-align: center;
}
#pastwinners #winner {
  border-right: 1px dotted black;
  border-left: 1px dotted black;
  text-align: center;
}

li a[data-toggle="pill"] {
  color: #ffffff;
  opacity: 0.5;
  font-weight: 200;
  letter-spacing: 0px;
  margin-bottom: 6px;
  background: rgba(5, 61, 61, 0.15) !important;
}
li.active a[data-toggle="pill"] {
  opacity: 0.7;
  background: rgba(5, 61, 61, 0.85) !important;
}
li:not(.active) a[data-toggle="pill"]:hover {
  opacity: 0.6;
  background: rgba(5, 61, 61, 0.5) !important;
}

a.btn.btn-currency {
  color: #ffffff;
  opacity: 0.7;
  font-weight: 200;
  letter-spacing: 0px;
  /* margin-bottom: 60px !important; */
  margin: 0px 2px;
  background: rgba(5, 61, 61, 0.15) !important;
}
a.btn.btn-currency.active {
  opacity: 0.8;
  background: rgba(5, 61, 61, 0.85) !important;
}
a.btn.btn-currency:not(.active):hover {
  opacity: 0.75;
  background: rgba(5, 61, 61, 0.5) !important;
  border-bottom: 0px solid black !important;
}

table#pastwinners>thead>tr>th {
  border-top: 1px dotted black;
}

#nextRoundTitle {
  font-weight: 700;
  margin-top: 5px;
  font-size: 0.9em;
  color: rgba(57, 236, 243, 0.36);
}
#nextRoundTime {

}

.btccost .btn:not(:empty):not([percentage="custom"]):before {
  content : "฿ ";
  color   : #FAE187
}
#bet_buttons {
  border-spacing: 6px;
}
#bet_buttons .btn:not([percentage="custom"]):after {
  content : " of prize";
  font-weight: normal;
}
.btn-group-riskscale .btn {
  font-weight: 700;
}

#custom_bet_input {
    background: rgba(22, 22, 22, 0.3);
    padding: 2% 3%; color: #fff;
    padding-left: 10px;
}

#logo, .pointer-events-none {
  pointer-events: none;
}

#toggle-password-visibility {
  text-decoration: underline;
  display: inline;
}

#right_panel .info {
  color: #428bca;
}


/****************
 * Chat
 ****************/
#chat {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10001;

  display: none;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.modal-backdrop {
  pointer-events: none;
}

.btc_lighter {
  opacity: 0.7;
}

.alertify-logs {
    bottom: 200px !important;
}